[Unit]
Description=notes
After=network.target


[Service]
User=app
WorkingDirectory=/opt/notes
ExecStart=/usr/bin/java -jar /opt/notes/target/easy-notes-1.0.0.jar
SyslogIdentifier=notes-%i

[Install]
WantedBy=multi-user.target